@import 'colors';
@import 'index';

.logo-con {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  img {
    width: 5rem;
    height: 5rem;
  }
  p {
    font-size: 3rem;
    font-weight: 400;
  }
}
.skeleton-loader {
  display: block;
  background-color: #bdc3c7;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
.tag {
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  border: 0.78px solid #9d8dd8;

  h5 {
    color: #6f6c90;
    font-size: 1.407rem;
    font-weight: 700;
    line-height: 21.9px;
    margin: auto;
  }
}
.user-profile-photo-loader {
  min-width: 100%;
  min-height: 100%;
}
.user-profile-photo-loader2 {
  min-width: 5.5rem;
  min-height: 5.5rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.img-loader {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.single-line-loader {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}
.single-line-loader-2 {
  width: 100%;
  height: 100%;
}
.double-line-loader {
  width: 100%;
  height: 100%;

  .line-1 {
    width: 90%;
    height: 50%;
    border-radius: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .line-2 {
    width: 70%;
    height: 50%;
    border-radius: 1.6rem;
  }
}
.swap-modal-loader {
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
  display: flex;
  align-items: center;
  height: 5rem;
  @media screen and (max-width: '600px') {
    // padding: 1.9rem;
  }
  .card-top {
    display: flex;
    column-gap: 1rem;
    .profile-photo {
      min-width: 2.4rem;
      min-height: 2.4rem;
      max-width: 2.4rem;
      max-height: 2.4rem;
      border-radius: 50%;
      overflow: hidden;
    }
    .card-details {
      width: 100%;
      .name:empty {
        width: 6rem;
        height: 1.5rem;
        border-radius: 1.6rem;
        margin-bottom: .5rem;
      }
      .details:empty {
        height: 1.5rem;
        width: 20rem;
        border-radius: 1.6rem;
      }
    }
  }
}
