@import 'colors';
@import 'index';

.logo-con {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  img {
    width: 5rem;
    height: 5rem;
  }
  p {
    font-size: 3rem;
    font-weight: 400;
  }
}
