@import 'colors';
@import 'index';

.swap-wrapper {
  background-color: $body-bg;
  padding: 20px 0;
  @media screen and (max-width: '1000px') {
  }
  .dashboard-box-swap {
    max-width: 45.8rem;
    margin: 0 auto;
    border: 1px solid #d7d9dc;
    background-color: #fff;
    box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #d7d9dc;
    border-radius: 0.8rem;
    overflow: hidden;
    .box-header-swap {
      background-color: #f2f4f6;
      height: 6.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2.2rem;
      // box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
      .swap-icon {
        font-size: 2.4rem;
        color: #6a737d;
      }
    }
    .box-content-swap {
      padding: 1.6rem 2.2rem;
      .box {
        border: 1.4px solid #d7d9dc;
        border-radius: 0.8rem;
        position: relative;
        margin-bottom: 20rem;
        .box-con {
          min-height: 10rem;
          padding: 2rem 1.6rem;
          .token-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.6rem;
            .token-con {
              display: flex;
              align-items: center;
              column-gap: 2rem;
              background-color: #f2f4f6;
              border-radius: 100px;
              padding: 0.6rem 1rem;
              height: 3.2rem;
              display: flex;
              align-items: center;
              img {
                min-width: 2.4rem;
                min-height: 2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: cover;
                border-radius: 50%;
                overflow: hidden;
              }
              p {
                font-family: $thic600;
                font-size: 2.2rem;
              }
            }
            .amount {
              flex: 1 1 0%;
              height: 3.2rem;
              background-color: green;
              input {
                width: 100%;
                height: 100%;
                border: none;
                text-align: right;
                font-size: 2.4rem;
                font-family: $thic700;
              }
              input:focus {
                outline: none;
              }
              input::placeholder {
                color: gray;
              }
            }
          }
          .balance-wrapper {
            display: flex;
            align-items: center;
            column-gap: 0.6rem;
            font-size: 1.3rem;
            color: $color3;
            font-family: $thic600;
          }
        }
        .box-con-1 {
          border-bottom: 1.4px solid #d7d9dc;
        }
        .swap-direction-btn {
          min-width: 4rem;
          min-height: 4rem;
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid #d6d9dc;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          // transform: translateY(-50%);
          margin-top: -2rem;
          background-color: #fff;
          z-index: 3rem;
          .swap-icon {
            font-size: 2.4rem;
            color: #6a737d;
            transform: rotate(0);
            transition: all 0.3s linear;
            &.rotate {
              transform: rotate(360deg);
              transition: all 0.3s linear;
            }
          }
        }
      }
      .btn {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
      }
    }
  }
}
