@import 'colors';
@import 'index';
@import 'get-started';
.modal-content-wrapper {
  .header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 4rem;
    .back {
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      font-size: 2rem;
      cursor: pointer;
    }
    h5 {
      font-family: $thic900;
      font-size: 2rem;
    }
    .close-modal {
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
.networks-modal {
  .body {
    .networks-wrapper {
      margin-bottom: 2rem;
      .network {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        padding: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #fafafa;
        }

        &.active {
          background-color: #eaf1fa;
          &:hover {
            background-color: #eaf1fa;
          }
        }

        .line {
          height: 100%;
          width: 0.4rem;
          background-color: transparent;
          border-radius: 1.6rem;
        }
        &.active {
          .line {
            background-color: $color1;
          }
        }
        .wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          column-gap: 1.5rem;
          align-items: center;
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
          }
          p {
            font-family: $thic500;
            font-size: 1.6rem;
          }
        }
      }
      .active {
      }
    }
    .btn {
      width: 90%;
      margin: 0 auto;
    }
  }
}
.accounts-modal {
  .body {
    .accounts-wrapper {
      margin-bottom: 2rem;
      .account {
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        padding: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #fafafa;
        }
        &.active {
          background-color: #eaf1fa;
          &:hover {
            background-color: #eaf1fa;
          }
        }
        .line {
          height: 100%;
          width: 0.4rem;
          background-color: transparent;
          background-color: $color1;
          border-radius: 1.6rem;
        }
        &.active {
          .line {
            background-color: $color1;
          }
        }
        .wrapper {
          width: 100%;
          height: 100%;
          flex: 1 1 0%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // background-color: green;
          .details {
            display: flex;
            column-gap: 1rem;
            align-items: flex-start;
            img {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              overflow: hidden;
              object-fit: cover;
            }
            .info {
              display: flex;
              flex-direction: column;
              row-gap: 0.8rem;
              p {
                font-family: $thic500;
                font-size: 1.6rem;
              }
            }
            .icon {
              font-size: 2rem;
              // cursor: pointer !important;
              // background-color: green ;
            }
          }
        }
      }
      .active {
      }
    }
    .btn {
      width: 90%;
      margin: 0 auto;
    }
  }
}
.account-modal {
  .body {
    padding: 0 2rem 1rem;
    .btns {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      align-items: flex-start;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        font-family: $thic700;
        font-size: 1.8rem;
        color: $color1;
        span {
          border-bottom: 2px solid transparent;
        }
        &:hover {
          span {
            border-bottom: 2px solid $color1;
          }
        }
      }
    }
  }
}
.import-account-modal {
  .body {
    padding: 0 2rem 1rem;
    .btns {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      align-items: flex-start;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        font-family: $thic700;
        font-size: 1.8rem;
        color: $color1;
        span {
          border-bottom: 2px solid transparent;
        }
        &:hover {
          span {
            border-bottom: 2px solid $color1;
          }
        }
      }
    }
  }
}
