@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/index.scss';

.container-wrapper {
  background-color: $body-bg;
  padding: 20px 0;
  @media screen and (max-width: '1000px') {
  }
  .container-content {
    max-width: 500px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #d7d9dc;
    background-color: #fff;
    box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #d7d9dc;
    border-radius: 0.8rem;
    overflow: hidden;
  }
}
