@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/index.scss';

.input-group-component-2 {
  width: 100%;

  .input-wrapper {
    max-height: 6rem;
    height: 6rem;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #bbc0c5;

    display: flex;
    align-items: center;
    &.error {
      border: 1px solid #d73847;
    }
    input {
      height: 100%;
      width: 100%;
      padding: 1rem;
      border-radius: 6px;
      background-color: #fff;
      color: #24272a;
      border: none;
      flex: 1 1 0%;
      font-size: 1.8rem;
    }
    input:focus {
      outline: none;
    }
    .btns {
      min-width: 4rem;
      min-height: 4rem;
      width: 4rem;
      height: 4rem;
      .cancel,
      .scan {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: $color1;
        cursor: pointer;
        // background-color: green;
      }
      .cancel {
        color: $color3;
      }
    }
  }
}
